<div class="ui container">
  <div class="ui inverted menu" id="header-color">
    <a class="header item">ALOCC</a>
    <a href="/Home" class="active item"><i class="home icon"></i></a>
      <div class="right menu">
        <a class="item"><i class="bell icon"></i> (0)</a>
        <a class="item"><i class="envelope icon"></i> (0)</a>
        <a href="/user/profile/<%= user._id %>" class="item"><%= user.fullname %></a>
        <a href="/Logout" class="item">logout</a>
      </div>
    </div>
 </div>