<div class="sidebar-left">
  <ul>
    <li><i class="home icon"></i></li>
    <li><i class="users icon"></i></li>
    <li><i class="comments icon"></i></li>
    <li><i class="bars icon"></i></li>
  </ul>
</div>