<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGNUP PAGE</title>
  <link rel="stylesheet" href="static/css/semantic.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <div class="ui container">
    <div class="signup">
      <p class="txt-title">SIGNUP</p>
      <form method="POST" action="/Signup">
        <div class="ui small fluid left icon input">
          <input type="text" name="fullname" placeholder="Enter your fullname">
          <i class="smile icon"></i>
        </div>
        <div class="mr-bottom"></div>
        <div class="ui small fluid left icon input">
          <input type="email" name="email" placeholder="Enter your email">
          <i class="inbox icon"></i>
        </div>
        <div class="mr-bottom"></div>
        <div class="ui small fluid left icon input">
          <input type="text" name="username" placeholder="Enter your username">
          <i class="user icon"></i>
        </div>
        <div class="mr-bottom"></div>
        <div class="ui small fluid left icon input">
          <input type="password" name="password" placeholder="Enter your password">
          <i class="lock icon"></i>
        </div>
        <div class="mr-bottom"></div>
        <div class="ui small fluid left icon input">
          <input type="password" name="password2" placeholder="Re password">
          <i class="lock icon"></i>
        </div>
        <div class="mr-bottom"></div>
        <button type="submit" class="ui small fluid primary button" id="register">SIGNUP</button>
        <div class="mr-bottom"></div>
        <div class="btn-list">
          <button class="ui tiny google plus button">LOGIN WITH GOOGLE</button>
          <button class="ui tiny button">FOTGOT PASSWORD</button>
        </div>
      </form>
     
    </div>
  </div>
  <script type="text/javascript">
  </script>
</body>
</html>